*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #1A0B2E;
}


/* navbar related style  */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:auto;
    max-width: 1260px;
    margin: 1rem auto;
    padding: 1rem 6rem;
    border-bottom: 1px solid #412567;
    
}
.logo{
    font-size: 2rem;
    /* height: 32px; */
    width: 220px;
    color: white;
    
}
.nav-logo span{
    background: linear-gradient(to top right , #F7E93F , #FB09B4 , #9100F8 );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.nav-menu li{
    list-style: none;
    color: white;
    font-size: 1rem;
}
.nav-menu-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem auto;
    gap: 1rem;
}
.btn{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background: linear-gradient(to top right, #F7E93F , #FB09B4 , #9100F8);
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 2rem;
}
.ham-menu{
    display: none;
}
/* banner related style  */
.banner-contents{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/hero-bg.png);
    background-size: contain;
    background-position: center center;
    margin: 0 auto;
    padding: 100px ;
    

}
.banner-image{
    position: relative;
}
.img1{
    width: 300px;
    height: 300px;
    position: relative;
    top: 40px;
    left: 20px;
}
.img2{
    z-index: 1;
    /* margin-top: -50px; */
    position: absolute;
    transform: translate(16% ,-43%);
}
.badge{
    width: 75px;
    height: 38px;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 8px 16px;
    background-color: #00FF88;
    font-weight: bold;
    border-radius: 2rem;
    position: absolute;
    top: 45px;
    left: calc(100% - 20%);

}
.banner-title{
    color: #fff;
    font-size: 68px;
    font-weight: bolder;
    text-align: center;
    margin-top: 40px;
    background: linear-gradient(  90deg,  #12c2e9, #4facfe, #c471ed, #f64f59);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}


.banner-description{
    color: #fff;
    opacity: 0.5;
    text-align: center;
}
.banner-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
    gap: 8px;
}
.btn1{
    width: 10rem;
}
.btn2{
    background: transparent;
    padding: 12px 20px;
    color: #00FF88;
    border-radius: 2rem;
    border: 1px solid #00FF88;
}

/* stats section related style  */
.stats-container{
    border-radius: 2px solid yellow;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
}
.stats-descriptions{
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 2rem;
    line-height: 1rem;
}
.stats-title{
    font-size: 3rem;
    font-weight: bold;
    line-height: auto;
    margin-bottom: 1rem;
}

.stats-container p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    
    
}
.stats{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 80px;
    margin-top: 80px;
    padding-top: 80px;
    padding-bottom: 120px;
    border-top: 1px solid #412567;
}
.stat{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.stats-num{
    color: #00FF88;
    font-size: 3rem;
    font-weight: bold;
}
/* feature related style  */
.feature-container{
    background-color: #230E3D;
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.feature-title{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
     "card1 card2 card2"
     "card1 card3 card3"
     "card4 card4 card5";
    gap: 2.8rem;

}
#card1{
    grid-area: card1;
    padding-top: 7rem;
}
#card2{
    grid-area: card2;
}
#card3{
    grid-area: card3;
}
#card4{
    grid-area: card4;
}
#card5{
    grid-area: card5;
}

.card{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    border-radius: 3.5rem;
    background-color: rgba(53, 17, 101, 0.4);

}

.card-icon{
    width: 4rem;
    height:4rem;
}
.card-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}
.card-description{
    color: #fff;
    opacity: 0.6;
    font-size: 1rem;
    line-height: 24px;
}
/* episode and host related style  */
.episode{
    padding: 100px 100px;
    background-color: #1A0B2E;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 100px;
}
.episode-title{
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    opacity: 0.8;
}
.video-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    margin: 40px auto;
}

.video{
    width: 380px;
    height: 214px;
    
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}
.video-detail{
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #250D44;
    text-align: left;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.video-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}
.video-description{
    font-size: 1rem;
    color: #fff;
}
.video-time{
    color: #00FF88;
    font-weight: 700;
    display: flex;
    align-items: center;
}
/* host section relatd style  */

.host-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.host-title{
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
}
.host-card{
    background-color: rgba(53, 17, 101, 0.4);
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 40px;
    border-radius: 2rem;
    color: #fff;
}
.host-details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    margin-top: 1rem;
}
.host-name{
    font-size: 2rem;
    font-weight: bold;
}
.host-description{
    opacity: 0.5;
}
.host-links{
    display: flex;
    gap: 8px;
    margin-top: 1.5rem;
    
}
.social{
    width: 40px;
    height: 40px;
    border: 1px solid #533C72;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer related style  */

.footer-container{

    color: #fff;
    padding: 80px;
    gap: 2rem;
    background-image: url(./assets/footer-bg.png);
    background-position: center;
    background-origin: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.footer-conent{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
    
}
#footer-heading{
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
}
.brand-container{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    column-gap: 1rem;
    margin-top: 2rem;

}
.brand{
    display: flex;
    align-items: center;
}
.footer-text{
    opacity: 0.5;
    margin-left: 4px;
}
.copyright{
    margin-top: 2rem;
    text-align: center;
}




/* mobile device */
@media screen and (max-width: 576px) {
    .nav-menu, .nav-btn{
        display: none;
    }
    .ham-menu{
        display: flex;
    }
    .nav-container{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px auto;
        padding: 5px 10px;
        gap: 20px;
    }
    .logo{
        font-size: 2rem;
    }
    
    .banner{
        margin: 0 auto;
        
    }
    .banner-contents{        
        background-image: url(./assets/Image.png);
        padding: 2rem 1rem;
    }
    .img1{
        height: 200px;
        width: 200px;
        position: relative;
        
    }
    .img2{
        height: 80px;
        width: 80px;
        position: relative;
        top: -60px;
        
    }
    
    .stats{
        grid-template-columns: repeat(2 , 1fr);
    }
    .stats-container{
        padding: 40px 20px;
    }
    .stats-descriptions{
        gap: 2px;
    }
    .feature-container{
        margin: 0 auto;
        padding: 40px 20px;
    }
    .feature-title{
        font-size: 1.5rem;
    }
    .card-container{
        grid-template-columns: repeat(1 , 1fr);
        gap: 1rem;
        
        grid-template-areas:
         "card1" 
         "card2"
         "card3"
         "card4" 
         "card5" 
         "card6"; 

    }
   
    .episode{
        padding: 10px 10px;

    }
    .video-container{
        grid-template-columns: 1fr;
        row-gap: 1rem;
        margin: 0 auto;
       
    }
    .video{
        width: 100%;
    }
    
    .host-card{
        display: flex;
        flex-direction: column;
        
    }
    .host-details{
        text-align: center;
    }
    .host-links{
        justify-content: center;
    }
    .footer-container{
        background-image: url(./assets/Footer.png);
        gap: 1rem;
        padding: 20px 40px;
    }
    .brand-container{
        grid-template-columns: repeat(2 ,1fr);
        row-gap: 1rem;
        padding: 0 20px;
    }
    
}
/* animatiion  */
@keyframes animate-gradient {
    to{
        background-position: 200%;
    }
}