*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #1A0B2E;
}


/* navbar related style  */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:auto;
    max-width: 1260px;
    margin: 1rem auto;
    padding: 1rem 6rem;
    border-bottom: 1px solid #412567;
    
}
.logo{
    font-size: 2rem;
    /* height: 32px; */
    width: 220px;
    color: white;
    
}
.nav-logo span{
    background: linear-gradient(to top right , #F7E93F , #FB09B4 , #9100F8 );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.nav-menu li{
    list-style: none;
    color: white;
    font-size: 1rem;
}
.nav-menu-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem auto;
    gap: 1rem;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background: linear-gradient(to top right, #F7E93F , #FB09B4 , #9100F8);
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 2rem;
}
.ham-menu{
    display: none;
}
/* responsive navbar */
@media screen and (max-width: 576px) {
    .nav-menu, .nav-btn{
        display: none;
    }
    .ham-menu{
        display: flex;
    }
    .nav-container{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px 10px;
        padding: 5px 10px;
        gap: 20px;
    }
    .logo{
        font-size: 2rem;
        
    }
    
    
}