*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #1A0B2E;
}


/* navbar related style  */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:auto;
    max-width: 1260px;
    margin: 1rem auto;
    padding: 1rem 6rem;
    border-bottom: 1px solid #412567;
    
}
.logo{
    font-size: 2rem;
    /* height: 32px; */
    width: 220px;
    color: white;
    
}
.nav-logo span{
    background: linear-gradient(to top right , #F7E93F , #FB09B4 , #9100F8 );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.nav-menu li{
    list-style: none;
    color: white;
    font-size: 1rem;
}
.nav-menu-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem auto;
    gap: 1rem;
}
.btn{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background: linear-gradient(to top right, #F7E93F , #FB09B4 , #9100F8);
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 2rem;
}
.ham-menu{
    display: none;
}
/* banner related style  */
.banner-contents{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/hero-bg.png);
    background-size: contain;
    background-position: center center;
    margin: 0 auto;
    padding: 100px ;
    

}
.banner-image{
    position: relative;
}
.img1{
    width: 300px;
    height: 300px;
    position: relative;
    top: 40px;
    left: 20px;
}
.img2{
    z-index: 1;
    /* margin-top: -50px; */
    position: absolute;
    transform: translate(16% ,-43%);
}
.badge{
    width: 75px;
    height: 38px;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 8px 16px;
    background-color: #00FF88;
    font-weight: bold;
    border-radius: 2rem;
    position: absolute;
    top: 45px;
    left: calc(100% - 20%);

}
.banner-title{
    color: #fff;
    font-size: 68px;
    font-weight: bolder;
    text-align: center;
    margin-top: 40px;

}
.banner-description{
    color: #fff;
    opacity: 0.5;
    text-align: center;
}
.banner-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
    gap: 8px;
}
.btn1{
    width: 10rem;
}
.btn2{
    background: transparent;
    padding: 12px 20px;
    color: #00FF88;
    border-radius: 2rem;
    border: 1px solid #00FF88;
}

/* stats section related style  */
.stats-container{
    border-radius: 2px solid yellow;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
}
.stats-description{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.stats-title{
    font-size: 3rem;
    font-weight: bold;
    line-height: auto;
    margin-bottom: 1rem;
}

.stats-container p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    
}





/* mobile device */
@media screen and (max-width: 576px) {
    .nav-menu, .nav-btn{
        display: none;
    }
    .ham-menu{
        display: flex;
    }
    .nav-container{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px auto;
        padding: 5px 10px;
        gap: 20px;
    }
    .logo{
        font-size: 2rem;
    }
    
    .banner{
        margin: 0 auto;
    }
    .banner-contents{        
        background-image: url(./assets/Image.png);
    }
    .img1{
        height: 200px;
        width: 200px;
        position: relative;
        
    }
    .img2{
        height: 80px;
        width: 80px;
        position: relative;
        top: -60px;
        
    }
    
    
    
}